/***************************
		NOTES
****************************/
/* Disbaled .grid-frame overflow in _grid.scss */


/****************************
	Bourbon Mixin Library
*****************************/
@import "bourbon/bourbon";


/****************************
		App Variables
*****************************/
@import "partials/variables";
@import "partials/normalize";


/****************************
	Foundation For Apps
*****************************/
@import "settings";
@import "foundation";


/****************************
		HO Custom Styles
*****************************/

	/* Site Wide Styles */
	   @import "partials/defaults";
	   @import "partials/navigation";
	   @import "partials/forms";

	/* Search Styles */
	   @import "partials/search";

	/* Results View Listing Card */
	   @import "partials/results";

	/* Single Listing */
	   @import "partials/listing";

	/* Login & Signup */
		@import "partials/login";
		@import "partials/user-profile";

	/* Dashboard */
		@import "partials/dashboard";


/********************************
		Material Design
*********************************/
	@import "partials/materialize";



/******************************
		Dev Styles
*******************************/
.note-form {
/*	display: flex;
	justify-content: center;
	align-items: center;*/
}

.form-row {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0 !important;
}

.single-column {
		justify-content: flex-start;
}

.button-group.share-follow > li > button:focus {
	color: #fff;
}

.search select {color: #fff !important;}

.note-form .inline-label {
	width: 100%;
}

.inline-label .form-label {
	background: transparent;
	border: none;
	border-bottom: 1px solid $af-blue;
}

.body-lock {overflow-y: hidden;}
/******************************/