/****************************
	Bourbon Mixin Library
*****************************/
@import "bourbon/bourbon";

/****************************
		App Variables
*****************************/
@import "partials/variables";
@import "partials/normalize";

/****************************
	Foundation For Apps
*****************************/
@import "settings";
@import "foundation";

/****************************
		HO Custom Styles
*****************************/

/* Site Wide Styles */
   @import "partials/defaults";
   @import "partials/navigation";
   @import "partials/forms";

/* Search Styles */
   @import "partials/search";

/* Results View Listing Card */
   @import "partials/listing-card";

/* Single Listing */
   @import "partials/listing";

/* Login & Signup */
	@import "partials/login";




/*************************
		Temp Holder
**************************/
.dashboard {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.dash-item {
	@extend .small-12;
	@extend .large-4;

	padding: 5px 10px;
	color: #fff;

	.dash-item-title {
		font-size: 1.6rem;
		font-weight: 300;
	}

	.dash-item-body {
		font-weight: 400;
		padding-top: 20px;
	}

}


.dash-item-container {
	background-color: $af-grey;
	padding: 30px 10px;
}

.dash-item-favorite .dash-item-container {
	background-color: $pink;
}

.dash-item-new .dash-item-container {
	background-color: $af-green;
}

.dash-item-update .dash-item-container {
	background-color: $af-blue;
}








