<div zf-modal="" id="take-note" class="collapse">
	<div class="grid-block vertical">
		<div class="primary title-bar">
			<div class="center title">Property Note</div>
			<span zf-close="" class="right"><a>Done</a></span>
		</div>
		<div class="grid-content padding" style="padding-top: 1rem;">

			<form>
				<div class="grid-block">
					<div class="small-12 grid-content">
						<label>
						Note about this property
							<input type="text" placeholder="Type your note here">
						</label>
					</div>
				</div>
			</form>


			<a zf-close="" class="button expand">Submit</a>

		</div>
	</div>
</div>