---
name: about
url: /about
---

<div class="grid-container">
	<div class="about grid-content">

		<div class="content">

			<p>Affordable Housing Online was started from a spare bedroom by David Layfield, a career affordable housing professional, in 2001 when he realized that low income Americans literally had nowhere to go online to find information about housing assistance and other housing opportunities. <img src="./assets/img/vertical-logo.png" class="small-image float-right"></p>

			<p>As a professional in the affordable housing industry (at the time, he was working in Washington, DC managing a Federal housing program), Dave knew first hand how much need there was for accurate information among the lower income renters. At the time, many believed that lower income Americans weren’t using the Internet. To a certain extent that was correct at that time in 2001, but Dave had a hunch that would change quickly as the cost of technology typically falls drastically after achieving mass adoption. </p>

			<p>And exactly that happened. Through cheap/free wifi, the mobile web and cheap devices, lower income renters have fully adopted the Internet as their primary source of housing assistance information. According to the Pew Research, as of December 2012, 73% of adults earning less than $30,000 per year used the Internet. In contrast, 99% of adults earning more than $75,000 per year are Internet users and 84% of all American adults are Internet users. Though there is still a small income divide among Internet users, that gap is narrowing every year.</p>

			<p>The most recent trend in lower income Internet use is mobile phones. 85% of lower income adults (earning less than $30,000) own a cell phone and 43% of those users use their mobile phone for most or all of their Internet browsing. That’s 36.5% of lower income Americans who do almost all of their web browsing on their mobile phones. For example, during the month of October 2014, of all users that visited Affordable Housing Online searching for housing assistance, 70.4% used a mobile device. That’s nearly half a million people searching for housing assistance on their mobile phone. Compared to other websites on the Internet, mobile usage on Affordable Housing Online is 20% higher highlighting the higher mobile web usage by lower income persons.</p>

			<p>
			In 2005, Dave founded ApartmentSmart.com (also the name of the company that owns Affordable Housing Online), and intended it to be an apartment search site for all income groups, not just for lower income Americans. However, over the years, we learned that our greatest strength was providing housing assistance information to low income people and ApartmentSmart.com today provides marketing services to over 70,000 affordable apartment communities in America. </p>

			<div class="emphasis">We maintain an one of a kind database of open Section 8 Housing Choice Voucher waiting lists.</div>

			<p>
			Affordable Housing Online provides the most complete database of Federal housing assistance and exhaustive affordable housing data for each state, county and city in America. Any search for affordable housing should always start at Affordable Housing Online. We maintain an one of a kind database of open Section 8 Housing Choice Voucher waiting lists. Each day, our team scours the Internet, social media and other sources to find the most recent waiting list openings. Each week we send out an email alert detailing all of the waiting list opening across the country to over 75,000 email subscribers. We have more than 52,000 followers on Facebook creating an active conversation around housing assistance. Each week we produce our Section 8 Update with a report on all upcoming openings and news regarding past openings. 
			</p>

			<p>
			Thirteen years after founding Affordable Housing Online, Dave Layfield is very active in the day to day operations of the website. He often answers questions and moderates discussions on our Facebook page, he produces the weekly video Section 8 Update and does much of the writing for the site. Dave provides a unique perspective to the site, having developed, owned and managed affordable rental housing as well as managed underwriting and asset management at a Federal program level. He understands Federal housing subsidy programs well and transfers that knowledge to his user base on Affordable Housing Online. </p>

			<div class="emphasis">Bringing You a Little Bit Closer To Home</div>

			<p>The motto of Affordable Housing Online is “Bringing You a Little Bit Closer to Home”. We know that finding suitable affordable housing is a challenge. We don’t promise to completely solve the problem for our users but we will provide the basic tools needed to get started on the right path. </p>

		</div>

	</div>
</div>
