---
name: dashboard
url: /dashboard
animationIn: slideInLeft
animationOut: slideOutLeft
---

<style>
.notification-context{
	font-size: .6em;
	text-align: right;
	font-style: italic;
	margin-top: 10px;
}

</style>

<div class="grid-content">
<div class="dashboard grid-container">



	   <div ng-controller="dashController">

	<div class="dash-item" ng-repeat="notification in notifications" ng-click="notification.expand = !notification.expand">
		<div class="dash-item-container {{notification.color_class}}">
			<div class="dash-item-title grid-block">
				<div class="grid-content small-1">
					<i class="fa {{notification.icon_class}}"></i>
				</div>
				<div class="grid-content small-9 notification-title">
					<div>
						{{notification.title}}
						{{notification.listing.name}}
					</div>
				</div>
				<div class="grid-content small-1">
					<i class="fa" ng-class="{'fa-angle-right': !notification.expand, '' : notification.expand}"></i>
				</div>
			</div>
			<div class="dash-item-body grid-content" ng-show="notification.expand">
				<p ng-show='notification.message'>{{notification.message}}</p>
				<div ng-show='{{notification.listing}}'>
					<div class="notification-section">
						<p>{{notification.listing.address}}</p>
					</div>
					<div class="notification-section">
						<p>{{notification.listing.neighborhood}}, {{notification.listing.borough}}</p>

					</div>
					<div class="notification-section">
						<p>{{notification.listing.room_range}} bedrooms at up to ${{notification.listing.rent_range}}/mo.</p>
					</div>

					<div class="notification-actions">
						<button class='button dark hollow' ui-sref="{{notification.action1}}" ng-show='notification.action1'>View Lisiting</button>
						<button class='button dark' ui-sref="{{notification.action1}}" ng-show='notification.action1'>View Lisiting</button>
					</div>

				</div>
				<div ng-show='notification.notification_type_id != 1' class='notification-context'>{{notification.context}}</div>
			</div>
		</div>
	</div>

	</div>

</div>
</div>