---
name: dashboard
url: /dashboard
animationIn: slideInLeft
animationOut: slideOutLeft
---
<div class="grid-container">
	<div class="dashboard grid-content">

		<div ng-controller="dashController">

			<ul class="button-group expand segmented">
				<li class="is-active"><a href="#"><i class="fa fa-bell"></i> <br>Notifications</a></li>
				<li><a href="#"><i class="fa fa-sticky-note"></i> <br> Notes</a></li>
				<li><a href="#"><i class="fa fa-heart"></i> <br> Favorited</a></li>
			</ul>

			<div class="dash-item" ng-repeat="notification in notifications" ng-hide="notification.dismissed==1 || notification.archived==1"  ng-click="notification.expand = !notification.expand">
				<div class="dash-item-container {{notification.color_class}}">
					
					<div class="dash-item-title grid-block">
						<div class="grid-content small-1">
							<i class="fa {{notification.icon_class}}"></i>
						</div>
						<div class="grid-content small-10 notification-title">
							<div>
								{{notification.title}}
								{{notification.listing.name}}
							</div>
						</div>
					</div><!-- End Dash Item Title -->

					<div class="dash-item-body grid-content" ng-show="notification.expand">
					
						<div class="notification-section">
							<p ng-show="notification.message">{{notification.message}}</p>
						</div>
						
						<div class="notification-section" ng-show="{{notification.listing}}">
							<p>Located at {{notification.listing.address}} in
							{{notification.listing.neighborhood}}, {{notification.listing.borough}}.</p>
							<p>This {{notification.listing.borough}} apartment has {{notification.listing.room_range}} bedroom units at up to ${{notification.listing.rent_range}}/mo.</p>
						</div>

						<div class="notification-actions">
							<!-- see documentation in app.js ~line 340-->
							<action-button controller-params="{{notification.action2}}" class="hollow" controller-function="handleNotification" action-text="{{notification.action2_text}}">{{notification.action2_text}}</action-button>

							<action-button ng-show="notification.action1" uiAction="{{notification.action1}}" action-text="{{notification.action1_text}}">{{notification.action1_text}}</action-button>
						</div>

					<div ng-show="notification.notification_type_id != 1" class="notification-context">
						{{notification.context}}
					</div>

					</div> <!-- End Dash Item Body --> 
				</div> <!-- End Dash Item Container -->
			</div> <!-- End Dash Item -->

			<div ng-controller="noteController">
			<div ng-include="" src="'/partials/dash-notes.html'"></div>
			</div>
		</div>

	</div>
</div>