---
name: home
url: /
---

<div class="grid-container">
    <div class="grid-block">
        	<div class="grid-block jumbotron">
        		
        		<div class="grid-content">
        			<h1>Find affordable housing in New York City</h1>
        		</div>

        		<div class="grid-block search" ng-controller="searchController">
        				
						<div class="small-12 grid-content">
							<label class="hide">Select a Borough</label>
							<select name="borough" id="borough" ng-model="search.borough">
								<option value="allBoroughs">All Boroughs</option>
								<option value="manhattan">Manhattan</option>
								<option value="theBronx">The Bronx</option>
								<option value="brooklyn">Brooklyn</option>
								<option value="queens">Queens</option>
								<option value="statenIsland">Staten Island</option>
							</select>
						</div>

						<div class="small-6 grid-content">
							<label class="hide">Size Of Household</label>
							<select name="sizeOfHousehold" id="sizeOfHousehold" ng-model="sizeOfHousehold">
								<option value="">1 Person</option>
								<option value="" selected="selected">2 People</option>
								<option value="">3 People</option>
								<option value="">4 People</option>
								<option value="">5 People</option>
								<option value="">6 People</option>
								<option value="">7 People</option>
								<option value="">8+ People</option>
							</select>
						</div>

						<div class="small-6 grid-content">
							<label class="hide">Monthly Income</label>
							<input type="text" id="income" placeholder="Monthly Income" ng-model="income" />
						</div>

						<div class="small-6 grid-content">
							<label class="hide">Disability Status</label>
							<select name="disabilityStatus" id="disabilityStatus" ng-model="disabilityStatus">
								<option value="">Head of Houshold Disabled</option>
								<option value="">Dependant Disabled</option>
								<option value="" selected="selected">No Disablity</option>
							</select>
						</div>

						<div class="small-6 grid-content">
							<label class="hide">Age</label>
							<input type="text" placeholder="Age" id="age" ng-model="age" />
						</div>

						<a class="expand button af-blue" href="#">Find Housing</a>

        		</div>


        	</div> <!--End Jumbotron -->

        	Selected Borough <span ng-bind="search.borough()"></span>
      </div>
</div>


