---
name: listing
url: /listing/:borough/:id
animationIn: slideInLeft
animationOut: slideOutRight
---
<style>
.listingCard .grid-content{ overflow-y: visible !important;}
.feature-data{

	text-align: center;
}
</style>
<div class="grid-container resultsList">

    <div ng-controller="listingController">
	    <div ng-repeat="listing in thisListing">
	    	<div class="grid-block hero-section">
<!-- 	    	<div class="grid-block hero-section" style="background: url('../assets/img/room.jpg')"> -->
				<div class="hero-content">
					<div class="listing-name">{{listing.name}}</div>
					<div class="listing-borough">{{listing.borough}} - {{listing.neighborhood}}</div>
						<div class="star-rating">
							<i class="fa" ng-class="{'fa-star-o': listing.avgRating < .5,  'fa-star-half-o': listing.avgRating >= .5 && listing.avgRating < 1,  'fa-star' : listing.avgRating >= 1 }"></i>
							<i class="fa" ng-class="{'fa-star-o': listing.avgRating < 1.5, 'fa-star-half-o': listing.avgRating >= 1.5 && listing.avgRating < 2,  'fa-star' : listing.avgRating >= 2 }"></i>
							<i class="fa" ng-class="{'fa-star-o': listing.avgRating < 2.5, 'fa-star-half-o': listing.avgRating >= 2.5 && listing.avgRating < 3,  'fa-star' : listing.avgRating >= 3 }"></i>
							<i class="fa" ng-class="{'fa-star-o': listing.avgRating < 3.5, 'fa-star-half-o': listing.avgRating >= 3.5 && listing.avgRating < 4,  'fa-star' : listing.avgRating >= 4 }"></i>
							<i class="fa" ng-class="{'fa-star-o': listing.avgRating < 4.5, 'fa-star-half-o': listing.avgRating >= 4.5 && listing.avgRating < 5,  'fa-star' : listing.avgRating >= 5 }"></i>
							&nbsp; &nbsp; <span class="rating-text">{{listing.avgRating}}</span>
					</div>
				</div>
			</div> <!-- End grid-block hero-section -->
			<div class="listing-content">
				<div class="grid-block feature-data">
					<div ng-click="scrollTo('bedrooms')" class="grid-content bedrooms feature-section">
						<i class="fa fa-bed"></i>
						{{listing.room_range}} br.
					</div>
					<div ng-click="scrollTo('rent')" class="grid-content schools feature-section">
							<i class="fa fa-money"></i>
							${{listing.rent_range}}/month*
					</div>
					<div ng-click="scrollTo('schools')" class="grid-content rent feature-section">
						<i class="fa fa-graduation-cap"></i> 
						 3 Top Rated Schools Nearby
					</div>
					<div ng-click="scrollTo('reviews')" class="grid-content rating feature-section">
						<i class="fa fa-star-half-o"></i>
						{{listing.avgRating}} / 5
						<br>
						Rating
					</div>
				</div>

				<div class="clearfix"></div>

				<div class="non-feature-data">

					<div id="description" class="description listing-section">
						<div class="listing-body">
							<p>
								Serves low to moderate income {{listing.elderly == 1 ? 'seniors' : 'families'}} through the Low Income Housing Tax Credit program.
							</p>
						</div>
					</div>

					<div id="rent" class="monthly-rent listing-section">
						<div class="listing-heading">
							<i class="fa fa-money"></i> Monthly Rent
						</div>
						<div class="listing-body">
							<p>
								Your monthly rent is established based on a number of different criteria. To be eligible for this property lorem ipsum dolor amet.
							</p>
						</div>
					</div>

					<div id="bedrooms" class="bedrooms listing-section">
						<div class="listing-heading">
							<i class="fa fa-bed"></i> Bedrooms
						</div>
						<div class="listing-body">
							<p>
								There are one, two, and three bedroom apartments available at this address. The number of bedrooms you need are often dependant on the size of your household.
							</p>
						</div>
					</div>

					<div id="schools" class="schools listing-section">
						<div class="listing-heading">
							<i class="fa fa-graduation-cap"></i> Schools
						</div>
						<div class="listing-body">
							<p>
								There are {{listing.schoolCount}} public schools near {{listing.name}} with an average GreatSchools rating of {{listing.avgGreatSchoolsRating}} out of 10.
							</p>
							<table class="school-table">
								<tr class="school-table-heading">
									<th>Name</th>
									<th>Grade</th>
									<th>Rating</th>
								</tr>
								<tr ng-repeat="school in listing.schools" class="school-table-body">
									<td>{{school.name}}</td>
									<td>{{school.gradeRange}}</td>
									<td>{{school.gsRating}}</td>
								</tr>
								<tr class="school-table-heading">
									<th>Name</th>
									<th>Grade</th>
									<th>Rating</th>
								</tr>
							</table>
						</div>
					</div>

					<div id="reviews" class="reviews listing-section">
						<div class="listing-heading">
							<i class="fa fa-star-half-o"></i> Reviews 
						</div>
						<div ng-repeat="review in listing.reviews" class="listing-body">
							<div class="review-meta grid-content">
								<div class="subtitle grid-block">
									{{review.by}}
									<span class="time">- 4 Months Ago</span>
								</div>
								<div class="star-rating grid-block">
									<i class="fa" ng-class="{'fa-star-o': review.rating < .5,  'fa-star-half-o': review.rating >= .5 && review.rating < 1,  'fa-star' : review.rating >= 1 }"></i>
									<i class="fa" ng-class="{'fa-star-o': review.rating < 1.5, 'fa-star-half-o': review.rating >= 1.5 && review.rating < 2,  'fa-star' : review.rating >= 2 }"></i>
									<i class="fa" ng-class="{'fa-star-o': review.rating < 2.5, 'fa-star-half-o': review.rating >= 2.5 && review.rating < 3,  'fa-star' : review.rating >= 3 }"></i>
									<i class="fa" ng-class="{'fa-star-o': review.rating < 3.5, 'fa-star-half-o': review.rating >= 3.5 && review.rating < 4,  'fa-star' : review.rating >= 4 }"></i>
									<i class="fa" ng-class="{'fa-star-o': review.rating < 4.5, 'fa-star-half-o': review.rating >= 4.5 && review.rating < 5,  'fa-star' : review.rating >= 5 }"></i>
								</div>
							</div>
							<p>
								{{review.text}}
							</p>
						
						</div>
							<div class="absolute-center grid-block">
								<a class="button hollow read-more">Read More Reviews</a>
							</div>
					</div>



					<div id="violations" class="violations listing-section">
						<div class="listing-heading">
							<i class="fa fa-chain-broken"></i> Code Violations
						</div>
						<div class="listing-body">
							<p>
								This listing does not currently have any violations pending. This listing also has historically been in good standing with city code.
							</p>
						</div>
					</div>

					<div id="contact-info" class="contact-info listing-section">
						<i class="fa fa-phone"></i> Phone Number
					</div>

					<div id="website" class="website listing-section">
						<i class="fa fa-globe"></i> Website
					</div>
					<div id="accessibility" class="accessibility listing-section">
						<i class="fa fa-wheelchair"></i> Accessibility
					</div>

					<div id="shoppping" class="shopping listing-section">
						<i class="fa fa-shopping-cart"></i> Shopping
					</div>

					<div id="address" class="address listing-section grid-content">
							<div class="listing-address grid-block">
								<i class="fa fa-map-marker"></i>{{listing.address}}
							</div>
							<div class="cta grid-block">
								<a class="button hollow">
									<i class="fa fa-location-arrow"></i> &nbsp;Get Directions
								</a>
							</div>
					</div>

					<div class="map-container listing-section">
						<div class="google-maps grid-block">
							<map center="{{listing.latitude}}, {{listing.longitude}}" zoom="18" style="width:100%;">
								   <marker position="{{listing.latitude}}, {{listing.longitude}}" ></marker> 
							</map>
						</div>
					</div>

				</div> <!-- End non feature data -->

		</div> <!-- End listing-content -->
    </div> <!-- End ng-repeat -->
</div> <!-- End listingController -->
 



