---
name: login
url: /login
animationIn: slideInLeft
animationOut: slideOutLeft
---

<div class="login" ng-controller="loginController">
	<div class="login-form grid-block">

		<form>
		<div class="grid-content">
				<label>
					Email
				<input type="text">
			</label>
		</div>
		<div class="grid-content">
				<label>
					Password
				<input type="text">
			</label>
		</div>
		<div class="grid-content">
			<a class="button expand">Login</a>
		</div>
		</form>


		<div class="grid-content card">
			<h4 ng-show="isLoggedIn">{{welcomeMsg}}</h4>
			<h4 ng-hide="isLoggedIn">Or Login With Facebook</h4>
			<button type="button" ng-click="login()" ng-hide="isLoggedIn" class="btn btn-default navbar-btn">Login </button>
		</div>
	</div>
</div>



