---
name: login
url: /login
---

<div class="login" style='height: 100vh' ng-controller="accountController">


	<div ng-hide="altLogin" class="login-form">
		<div class="grid-block">
			<div class="grid-content">
				<label style="font-size: 3em;">{{welcomeMsg}}</label>
			</div>
		</div>
		<div class="grid-block">
			<div class="grid-content">
				<button type="button" ng-click="login()" ng-hide="isLoggedIn" class="button expand">Log In With Facebook</button>
			</div>
		</div>
		<div class='grid-block'>
			<p ng-click="altLogin=true"><small>or create an account without Facebook</small></p>
		</div>
	</div>

	<div ng-show="altLogin" class="login-form grid-block">

		<form>
		<div class="grid-content">
				<label>
					Email
				<input type="text">
			</label>
		</div>
		<div class="grid-content">
				<label>
					Password
				<input type="text">
			</label>
		</div>
		<div class="grid-content">
			<a class="button expand">Log In or Register</a>
		</div>
		</form>
	</div>


</div>



