---
name: profile
url: /profile
animationIn: slideInLeft
animationOut: slideOutLeft
---

<div class="grid-content">
	<div class="dashboard grid-container">
		<form>


		    <div class="grid-content profile-container">
		        <div class="form-container grid-block">

		        	<h1>Basic Information</h1>
		        	<div class="form-element small-12">
			            <label class="small-12">First Name
			                <input type="text" placeholder="First">
			            </label>
		        	</div>

		        	<div class="form-element small-12">
			            <label class="small-12">Last Name
			                <input type="text" placeholder="Last">
			            </label>
		        	</div>

		        	<div class="form-element small-12">
			            <label class="small-12">Email Address
			                <input type="text" placeholder="Email">
			            </label>
		        	</div>

		        	<h1>Search Preferences</h1>

		        	<div class="form-element small-12">
			            <label class="small-12">Income
			                <input type="text" placeholder="Income">
			            </label>
		        	</div>

		        	<div class="form-element small-12">
			            <label class="small-12">Age
			                <input type="text" placeholder="Age">
			            </label>
		        	</div>


		        	<!-- Need to add disability/address street city state zip/voucher holder -->


		        </div> <!-- End Form Container -->
		    </div>

		</form>
	</div>
</div>



