<div zf-modal="" id="amenities-edit-modal" class="collapse">
	<div class="grid-block vertical">
		<div class="primary title-bar">
			<span zf-close="" class="right"><a>Done</a></span>
		</div>
		<div class="grid-content padding" style="padding-top: 1rem;">
			<form>
				<div class="grid-block form-row">
					<div class="grid-block"><input type="checkbox"></div>
					<div class="grid-block"></div>
				</div>
				<div class="grid-block form-row">
					<div class="grid-block"><input type="checkbox"></div>
					<div class="grid-block"></div>
				</div>
				<div class="grid-block form-row">
					<div class="grid-block"><input type="checkbox">/div>
					<div class="grid-block"></div>
				</div>
			</form>
		</div>
	</div>
</div>