.dashboard {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	.fa {
		font-size: 1.7rem;
	}
}

.dash-item {
	@extend .small-12;
	@extend .large-4;

	padding: 5px 10px;
	color: #fff;

	.dash-item-title {
		font-size: 1.6rem;
		font-weight: 300;
	}

	.dash-item-body {
		font-weight: 400;
		padding-top: 40px;
		padding-bottom: 20px;
	}

	.grid-content {
		overflow: initial;
	}

}

.dash-item-title {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	
	.grid-content {
		display:flex;
		align-items: stretch;
	}

	.fa-angle-right {
		align-self: flex-start;
	}

}


.dash-item-container {
	background-color: $af-grey;
	padding: 30px 10px;
}

.dash-item-favorite .dash-item-container {
	background-color: $pink;
}

.dash-item-new .dash-item-container {
	background-color: $af-green;
}

.dash-item-update .dash-item-container {
	background-color: $af-blue;
}

.notification-title {
	/*flex-grow: 3;*/
	font-size: 1rem;
}
.notification-section {
	@extend .small-11;
	@extend .small-offset-1;
}

.notification-actions {
	display: flex;
	justify-content: center;
}

.site-notification {
	.button.hollow.dark {
		border: 1px solid $af-blue;
		color: $af-blue;
	}
}

.followed-notification {
	background-color: darken($pink,10%);
}

.matched-notification {
	background-color: darken($af-blue,1%);
}

.featured-notification {
	background-color: darken($af-green,5%);
}

.arrow-expand {
	padding-right: 30px;
}