/******************************************
			Generic Card Styles
*******************************************/
.resultsList.grid-container {
	max-width: 70em;
}

.resultsList .search-result {
	padding: 20px 0;
}

.resultsList .grid-content {
	display: flexbox;
	flex-direction: row;
	flex-wrap: wrap;
}

.resultsList .grid-content .grid-block {
	margin-left: 0;
	margin-right: 0;
}

.card-content {
	@extend .card;
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
	margin: 8px;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	
}


.listingCard {
	
	@extend .small-12;
	@extend .medium-6;
	@extend .large-4;

	

	.grid-content{
		overflow-y: visible !important;
	}

	/******************************************
					Card Header
	*******************************************/
		.card-subtitle {
			color: #aaa;
			padding-top: 5px;
			padding-left: 0px;
		}

		.card-titlebar {
			padding: 19px 0;
			background-color: #eee;

			.grid-block.title-area {
				display:flex;
				flex-direction: column;
			}

			.star-rating {
				clear: both;
			}
		}

		.distance-indicator {

			  display: flex;
			  align-items: center;
			  justify-content: center;
			
			i {
				color: $af-blue;
				padding-left: 4px;
			}

			.fa.fa-street-view {
			    font: normal normal normal 24px/1 FontAwesome;
			    padding-bottom: 6px;
			    text-align: center;
			}

		}

		.star-rating {
			padding-top: 15px;
		}



	/******************************************
					Card Body
	*******************************************/
	.card-desciption {
		padding: 10px 0;
	}

	.listing-icon {
		@extend .small-2;

		font-size: 1.4rem;

		i {
			  display: flex;
			  align-items: center;
			  justify-content: center;
			  padding-left: 10px;
		}
	}

	.listing-info {
		@extend .small-10;

		&:after {
			content:'';
	    	display:block;
	    	clear: both;
	    	padding: 15px 0;
		}
	}

	/******************************************
		Share Sheet / Actions / Card Footer
	*******************************************/
	.card-actions {
		.grid-content {
			@extend .small-4;

			.button {
				background: transparent;
				margin: 0;
				padding: 0.85em 0;
				width: 100%;
			}
		}
	}

	.card-actions.card-divider {
		background: #fff;
		border-top: 1px solid #eee;
		padding: 2px;

		.button{
			padding: 20px 0;
		}

		i {
			color: $af_blue;
			padding: 0 20px;
		}

	}

	.share-sheet {
		background: $af-blue;
		color: #fff;

		ul li a {
			border: none;
			color: #fff;
			padding: 1.3em;
		}

		p {
			margin-bottom: 2em;
		}

		i {
			padding-right: 15px;
		}
	}

}