.listingCard {
	@extend .card;


	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
	margin: 15px 0;


	.no-image-listing.card-divider {
		/*background: $af-green;*/
		/*color: #fff;*/
	}

	.card-actions.card-divider {
		background: #fff;
		border-top: 1px solid #eee;
		padding: 0 16px;

		.button{
			padding: 20px 0;
		}

		i {
			color: $af_blue;
			padding: 0 20px;
		}

	}

	.card-actions {
		.grid-content {
			@extend .small-4;

			.button {
				background: transparent;
				margin: 0;
				padding: 0.85em 0;
				width: 100%;
			}
		}
	}

	.card-title {
		display: flex;
		align-items: center;
	}

	.card-titlebar {
		@extend .small-9;
		padding: 19px 0;

		.star-rating {
			clear: both;
		}
	}

	.card-subtitle {
		color: #aaa;
		padding-top: 5px;
	}

	.card-desciption {
		padding: 10px 0;
	}

	.star-rating {
		padding-top: 15px;
	}

	.distance-indicator {
		@extend .small-3;

		  display: flex;
		  align-items: center;
		  justify-content: center;
		
		i {
			color: $af-blue;
			padding-left: 4px;
		}
	}

}

.fa.fa-street-view {
    font: normal normal normal 24px/1 FontAwesome;
    padding-bottom: 6px;
    text-align: center;
}


.listing-icon {
	@extend .small-2;

	font-size: 1.4rem;

	i {
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  padding-left: 10px;
	}
}

.listing-info {
	@extend .small-10;

	&:after {
		content:'';
    	display:block;
    	clear: both;
    	padding: 15px 0;
	}
}

.share-sheet {
	background: $af-blue;
	color: #fff;

	ul li a {
		border: none;
		color: #fff;
		padding: 1.3em;
	}

	p {
		margin-bottom: 2em;
	}

	i {
		padding-right: 15px;
	}
}