/******************************************
		Generic Listing Styles
*******************************************/
.single-listing.grid-container {
	max-width: 100% !important;
}

.name-and-borough{
	position: absolute;
	bottom: 0%;
	width: 100%;
	/*background-color: rgba(0,0,0, .3);*/
	padding: 20px 5%;
}

.name-and-borough-blur {
	background-color: rgba(0,0,0,.6);
	height: 90px;
	width: 100%;
	position: absolute;
	bottom: 0;
	-webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-o-filter: blur(20px);
	-ms-filter: blur(20px);
	filter: blur(20px);
}


.suggest-edit{
	display: flex;
	align-items: center;
	float: right;
	font-size: 0.7rem;
	padding-top: 10px;
}

.add-photo {
	position: absolute;
	top: 5%;
	left: 5%;

	&:hover{
		color: $af-orange;
	}
}

.hero-suggest {
	position: absolute;
	top: 5%;
	right: 0%;
	color: #fff;

	&:hover {
		color: $af-orange;
	}
}

/******************************************
	Hero Section - Title / Borough / Rating
*******************************************/

.hero-section {
	background-color: $af-grey;
	background-size: cover !important;

	.hero-content {
		padding: 100px 0;
		min-height: 300px;
	}

	.hero-overlay {
		background-color: rgba(0,0,0,0.4);
		width: 100%;
	}

	.listing-name {
		color: #fff;
		font-size: 1.3em;

	}

	.listing-borough {
		color: #bbb;
		padding-top: 10px;
	}

	.star-rating {
		padding-top: 10px;
		.fa-star-half-o {
			color: gold;
		}
		.fa-star {
			color: gold;
		}
		.rating-text {
			color: gold;
		}
	}

}

/******************************************
			Feature Data
*******************************************/

.feature-data {
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;

	i {
		font-size: 5rem;
	}

	.bedrooms {
		background-color: $af-blue;
	}

	.schools {
		background-color: $af-green;
	}

	.rent {
		background-color: $af-orange;
	}

	.rating {
		background-color: #dddddd;
		color: #444;
	}

	.violations {
		background-color: #dddddd;
		color: #444;
	}

	.feature-section {
		@extend .small-6;
		@extend .medium-3;
		align-items: center;
		display: flex;
		height: 180px;
		justify-content: space-around;
		flex-direction: column;
		padding: 20px;
	}

}

/******************************************
			Listing Section
*******************************************/

.non-feature-data {
	margin-top: 20px;
}

.contact-info {
	.phone,
	.email,
	.website {
		padding: 20px 0;
	}
}

.listing-section {
	@extend .grid-container;
	@extend .small-11;
	@extend .medium-8;
	@extend .medium-offset-2;
	@extend .large-6;
	@extend .large-offset-3;


	padding: 20px 0;

	.listing-body {

	}

	.listing-heading{
		border-bottom: 1px solid #bbb;
		font-size: 2em;
		font-weight: 200;
		padding-left: 10px;
		padding-bottom: 10px;
		margin-bottom: 15px;

		i {
			padding-right: 10px;
		}

		/*iphone 6*/
		@media (max-width: 375px) {
			font-size: 1.8rem;
		}
		/* iphone 4,5 */
		@media (max-width: 320px) {
			font-size: 1.4rem;
		}
	}
}

/* Listing Section Utility Classes */
	.cta {
		@extend .small-8;
		display: flex;
		justify-content: flex-end;
	}

	.suggestions .grid-block {
	}

	.suggestion-input {
		width: 50%;
	}

/* Monthly Rent */
	.monthly-rent i {
		color: $af-green;
	}

/* Bedroom */
	.bedroom-table {
		border: 0 !important;
		width: 100%;

		tr {
		    background: transparent !important;
		}

		.bedroom-table-heading {
			border-bottom: 1px solid $af-grey;
		}

		.bedroom-table-body {

		}
	}

/* Housing Choice Score */
	.choice-score .listing-heading {font-size: 1.2rem;}

/* Schools Info */
	.school-table {
		width: 100%;
		
		th {
			text-align: left;
		}

		.school-table-heading {
			background-color: $af-blue;

			th {
				color: #fff;
			}
		}

		.school-table-body {

		}
	}

/* Reviews */
	.reviews {

		.absolute-center {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		p {
			margin-top: 10px;
		}

		.review-meta {
			display: flex;
			align-items: center;
			justify-content: space-between;
			overflow: hidden;
		}

		.star-rating {
			@extend small-6;
			justify-content: flex-end;
		}

		.subtitle {
			font-size: 1.2rem;
			font-weight: 700;
		}

		.time {
			font-size: 1rem;
			font-weight: 300;
		}

		.intro-text {
			text-align: center;
			align-self: center;
			font-weight: 700;
			color: #888;
		}

		.lived-here {
			border: 1px solid #ddd;
			display: flex;
			flex-direction: column;
			padding:10px 15px;
			margin: 10px 0;
			@include border-top-radius(5px);
			@include border-right-radius(5px);
			@include border-bottom-radius(5px);
			@include border-left-radius(5px);
		}

	}

	.single-review {
		padding: 10px 15px;
		margin-bottom: 10px;
	}
	.single-review:nth-child(even) {
		background-color: #ececec;
	}

	.add-review {
		@extend .suggest-edit;
	}

	.review-section {
		padding: 20px 0;
	}

	.lived-yes-no {
		.grid-block {
			margin-left: 1%;
			margin-right: 1%;
		}
	}

/******************************************
			Address
*******************************************/

.address .button {
	margin: 0;
	display: flex;
	align-items: center;
}

.address.listing-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.address.listing-address {
	@extend .small-4;
	display:flex;
}

.address {
	.grid-block {
		margin: 0;
	}
}

/******************************************
				Map
*******************************************/
/* General Map Styles */
	.map-container.listing-section {
		@extend .small-12;
		padding: 0;
		margin: 0;
	}

	.map-sheet {
		height: 100%;
	}

/* Map Small */
	.map-container {
		padding: 25px 0 0 0;

	    .google-maps {
	        position: relative;
	     /*   padding-bottom: 75%; // This is the aspect ratio*/
	        /*height: 0;*/
	        overflow: hidden;
	        @include breakpoint(medium) {
	        	padding-bottom: 0;
	        	height: 300px;
	        }
	    }
	    .google-maps iframe {
	        position: absolute;
	        top: 0;
	        left: 0;
	        width: 100% !important;
	        height: 100% !important;
	    }

	}

/* Map Expanded */
	.largeMap {
	   position: fixed;
	        top: 0;
	        right: 0;
	        bottom: 0;
	        left: 0;
	        zIndex: 999;
	        height: 100% !important;
	}

	.toggle-full-map {
		position: absolute;
		top: 3%;
		right: 0;
		z-index: 1;
	}

	.mapToggles {
		position: fixed;
		top: 2%;
		right: 2%;
		z-index: 999;
		display: flex;
	}







