/******************************************
	Hero Section - Title / Borough / Rating
*******************************************/

.hero-section {
	background-color: $af-grey;
	background-size: cover !important;
	margin-bottom: 20px;

	.hero-content {
		padding: 60px 5%;
	}

	.listing-name {
		color: #fff;
		font-size: 1.3em;
	}

	.listing-borough {
		color: #bbb;
		padding-top: 10px;
	}

	.star-rating {
		padding-top: 10px;
	}

}

/******************************************
			Feature Data
*******************************************/

.feature-data {
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	i {
		font-size: 5rem;
	}

	.bedrooms {
		background-color: $af-blue;

		i {

		}
	}

	.schools {
		background-color: $af-green;
		
		i {
			
		}
	}

	.rent {
		background-color: $af-orange;
		
		i {
			
		}
	}

	.rating {
		background-color: #dddddd;
		color: #444;
		
		i {
			
		}
	}

	.listing-section {
		@extend .small-6;
		align-items: center;
		display: flex;
		height: 180px;
		justify-content: space-around;
		flex-direction: column;


	}

}

/******************************************
			Listing Section
*******************************************/

.listing-section {
	padding: 17px 0;

	.cta {
		justify-content: flex-end;
	}
}

.address .button {
	margin: 0;
	display: flex;
	align-items: center;
}

.address.listing-section div {
	display: flex;
	align-items: center;
}

/******************************************
			Map Container
*******************************************/

.map-container {
	padding: 25px 0 0 0;

    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

}





