.menu-bar {
	background: $af_blue;

	li {
		align-items: center;
		justify-content: center;
		padding: 1rem;
	}

	.title {
		
		a {
			color: #fff;
		}

/*		&:hover {
			background: lighten( $af_blue, 20%);
		}*/
	}

	.right {
		text-align: right;
	}
}