@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900,400italic);

/*********************
		Colors
**********************/
$af_green: #38b449;
$af_blue: #0093d8;
$af_orange: #ff7f00;
$af_grey: #444;
$af_red: #C00;

$pink: #ed2a7b;

$sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;